/* *{
    margin: 0;
    padding: 0;
    border: 0;
  } */
  .Principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.DivDoBotao {
    align-items: center;
    display: flex;
}

.Botao{
    background-color: #6559c2;
    border-color: transparent;
    border-radius: 5px;
    color: rgb(228, 219, 238);
}

  
  .input {
    flex: 1;
    margin: 0 5px;
  }